.tg_main_container {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	height: auto;
    overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-overflow-scrolling: touch;
}

.tg_main_scroll {
    display: block;
    float: left;
    width: 100%;
    min-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.tg_main_scroll::-webkit-scrollbar {
    display: none;
}

.tg_mini_block {
	display: inline-block;
	width: 145px;
	border-radius: 8px;
	margin-left: 15px;
}

.tg_image_container {
	display: block;
	float: left;
	width: 100%;
	min-height: 202px;
	border-radius: 8px;
	background: var(--content_tint_background);
}

.tg_title {
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    font-size: 16px !important;
}

.tg_sub_title {
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px !important;
}

.tg_image {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

#sc_title {
	display: block;
	float: left;
	width: calc(100% - 30px) !important;
	margin-left: 15px !important;
}

.tg_button_container {
	display: block;
	float: left;
	width: calc(100% - 30px);
	padding-left: 15px;
	padding-right: 15px;
}

#ts_main_container {
	display: block;
	float: left;
	width: 100%;
	position: relative;
}
